*{
	margin: 0px;
	padding: 0px;
	/*background-color: green;*/
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

}
.header {
	min-height: vh;
	background-color: black;
	background-size: cover;
}
.navbar {
	width: 100%;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 60px;
	/*padding-left: 200px;*/
}
.sub-menu-1 {
	display: none;
}
.navbar .logo {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 10px 10px;

}
.nav-menu {
	padding-right: 20vh;
}

.nav-menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	/*padding-right: 50vh;*/
}

.nav-menu ul li {
	list-style: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.nav-menu ul li a {
	text-decoration: none;
	font-size: 18px;
	color: #fff;
}
.nav-menu ul li:hover {
	background-color: #fc9003;
	transition: 0.5s ease;
}

.nav-menu ul li:hover .sub-menu-1 {
	display: block;
	position: absolute;
	background: black;
	margin-top: 5px;
	margin-left: 10px;
}

.nav-menu ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}

.nav-menu ul li:hover .sub-menu-1 ul li {
	width: 120px;
	padding: 5px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.nav-menu ul li:hover .sub-menu-1 ul li:last-child {
	border-bottom: none;
}

.nav-menu ul li:hover .sub-menu-1 ul li a:hover {
	color: #fff;
	background-color: #fc9003;
	transition: 0.5s ease;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}


.toggle-btn {
	position: absolute;
	top:28px;
	right: 60px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 22px;
	width: 32px;
}

.content-section h1 {
	color: #fff;
	font-size: 50px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.content-section p {
	color: #a1a1a1;
	font-size: 19px;
	margin-top: 10px;
	line-height: 1.5;
	text-align: center;
}

.content-section .button {
	margin-top: 25px;
	/*align-items: center;*/

}
.content-section .button a{
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	display: inline-block;
	background-color: blue;
	border-radius: 5px;
	padding: 14px 25px;
	letter-spacing: 1.5px;
}
.button {
/*	align-items: center;*/
	text-align: center;
	/*justify-content: center;*/
}

.content-section .button a:hover {
	background-color: #9dd153;
	transition: 0.5s ease;

}

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
  color: #fff;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
  color: #fff;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
 /*END FOOTER */



@media screen and (max-width: 768px) {
	.toggle-btn {
		display: flex;
		z-index: 2;
	}
	.nav-menu ul {
		/*width: -10%;
		display: inline-flex;
		/*background-color: green;*/
		/*flex-direction: column;*/
		/*align-items: left;*/
		padding-right: 0px;
		position: absolute;
		text-align: left;
		justify-content: left;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;

	}
	.nav-menu {
		display: flex;
		width: 100%;


	}
	.nav-menu ul li{
		margin: 10px 0px;
	}
	.nav-menu ul li a{
		font-size: 24px;
		text-align: right;

	}
	.nav-menu ul li:hover .sub-menu-1 {
	display: block;
	position: absolute;
	background: black;
	margin-top: 5px;
	margin-left: 10px;
	}


	.navbar .logo {
		font-size: 19px;
		margin-bottom: 15vh;
	}

	.content-section h1 {
		font-size: 40px;
	}

	.content-section p {
		font-size: 16px;

	}
	.content-section .botton a {
		font-size: 17px;
		padding: 9px 10px;

	}

	.nav-menu .active {
		display: flex;
	}

}